<!DOCTYPE html>
<html>
<head>
    <title>Asamblea</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    .i {
        color: #d9d9d9;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .i i {
        transition: .3s;
    }

    .input-div > div {
        position: relative;
        height: 45px;
    }

    .input-div > div > h5 {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #999;
        font-size: 18px;
        transition: .3s;
    }

    .input-div:before,
    .input-div:after {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 0%;
        height: 2px;
        background-color: #048a04;
        transition: .4s;
    }

    .input-div:before {
        right: 50%;
    }

    .input-div:after {
        left: 50%;
    }

    .input-div.focus:before,
    .input-div.focus:after {
        width: 50%;
    }

    .input-div.focus > div > h5 {
        top: -5px;
        font-size: 15px;
    }

    .input-div.focus > .i > i {
        color: #fdfdfe;
    }
</style>
<body class="bg-gray-300" style="font-family: Roboto;">
<div class="h-screen flex justify-center items-center">
    <div class="bg-white rounded-lg w-full p-8 md:w-3/5 md:px-16 md:py-16 sm:w-2/5 " id="flogin" style="display: none">
        <form method="post" action="/Auth">
            <div class="flex font-bold justify-center">
                <img class="h-20 w-30"
                     src="./images/logo-micoope.png">
            </div>
            <h2 class="md:text-3xl sm:text-2xl text-center text-blue-900 "><b><%- title %></b></h2>
            <p class="text-center text-green-600 uppercase"><%- subtitle %></p>

            <div class="input-div border-b-2 relative grid my-5 py-1 focus:outline-none"
                 style="grid-template-columns: 7% 93%;">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>DPI</h5>
                    <input type="text" class="absolute w-full h-full py-2 px-3 outline-none inset-0 text-gray-700"
                           name="username"
                           autocomplete="off"
                           style="background: none;"
                           required>
                </div>
            </div>
            <div class="input-div border-b-2 relative grid my-5 py-1 focus:outline-none"
                 style="grid-template-columns: 7% 93%;">
                <div class="i">
                    <i class="fas fa-book"></i>
                </div>
                <div class="div">
                    <h5>Cuenta Aportaciones</h5>
                    <input type="number"
                           class="absolute w-full h-full py-2 px-3 outline-none inset-0 text-gray-700"
                           name="password"
                           autocomplete="off"
                           style="background: none;"
                           required>
                </div>
            </div>
            <button type="submit"
                    class="w-full py-2 rounded-full bg-green-600 text-gray-100  focus:outline-none hover:bg-green-700">
                Entrar
            </button>
        </form>
    </div>

    <div class="bg-white h-60 flex items-center justify-center px-5 py-5" x-data="beer()" x-init="start()" id="countdown">

        <div class="text-blue-900">
            <div class="flex justify-center w-full ">
                <img class="h-30 w-40 "
                     src="./images/logo-micoope.png">
            </div>
            <h2 class="md:text-3xl sm:text-2xl text-center text-blue-900 "><b><%- title %></b></h2>
            <p class="text-center text-green-600 uppercase"><%- subtitle %></p>
            <h1 class="text-3xl text-center mb-3 font-extralight">La asamblea inicia en </h1>
            <div class="text-6xl text-center flex w-full items-center justify-center">
                <div class="text-2xl mr-1 font-extralight"></div>
                <div class="w-24 mx-1 p-2 bg-blue-900 text-white rounded-lg">
                    <div class="font-mono leading-none" x-text="days">00</div>
                    <div class="font-mono uppercase text-sm leading-none">Dias</div>
                </div>
                <div class="w-24 mx-1 p-2 bg-blue-900 text-white rounded-lg">
                    <div class="font-mono leading-none" x-text="hours">00</div>
                    <div class="font-mono uppercase text-sm leading-none">Horas</div>
                </div>
                <div class="w-24 mx-1 p-2 bg-blue-900 text-white rounded-lg">
                    <div class="font-mono leading-none" x-text="minutes">00</div>
                    <div class="font-mono uppercase text-sm leading-none">Minutos</div>
                </div>
                <div class="text-2xl mx-1 font-extralight"> : </div>
                <div class="w-24 mx-1 p-2 bg-blue-900 text-white rounded-lg">
                    <div class="font-mono leading-none" x-text="seconds">00</div>
                    <div class="font-mono uppercase text-sm leading-none">Segundos</div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/common.ejs'); -%>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/imask"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" ></script>
<script>
    function beer() {
        return {
            seconds: '00',
            minutes: '00',
            hours: '00',
            days: '00',
            distance: 0,
            countdown: null,
            beerTime: new Date('Aug 24, 2021 14:00:00').getTime(),
            now: new Date().getTime(),
            start: function() {
                this.countdown = setInterval(() => {
                    // Calculate time
                    this.now = new Date().getTime();
                    this.distance = this.beerTime - this.now;
                    // Set Times
                    this.days = this.padNum( Math.floor(this.distance / (1000*60*60*24)) );
                    this.hours = this.padNum( Math.floor((this.distance % (1000*60*60*24)) / (1000*60*60)) );
                    this.minutes = this.padNum( Math.floor((this.distance % (1000*60*60)) / (1000*60)) );
                    this.seconds = this.padNum( Math.floor((this.distance % (1000*60)) / 1000) );
                    // Stop
                    if (this.distance < 0) {
                        clearInterval(this.countdown);
                        this.days = '00';
                        this.hours = '00';
                        this.minutes = '00';
                        this.seconds = '00';
                        $("#countdown").fadeOut('fast','swing',function(){
                            $("#flogin").fadeIn();
                        });

                    }
                },100);
            },
            padNum: function(num) {
                var zero = '';
                for (var i = 0; i < 2; i++) {
                    zero += '0';
                }
                return (zero + num).slice(-2);
            }
        }
    }

    const inputs = document.querySelectorAll("input");

    const username = document.getElementsByName('username')[0];
    const maskUsername = IMask(username, {mask: '0000 00000 0000'})

    const password = document.getElementsByName('password')[0];
    const maskPassword = IMask(password, {mask: '0000000000'})
    function addcl() {
        let parent = this.parentNode.parentNode;
        parent.classList.add("focus");
    }

    function remcl() {
        let parent = this.parentNode.parentNode;
        if (this.value == "") {
            parent.classList.remove("focus");
        }
    }


    inputs.forEach(input => {
        input.addEventListener("focus", addcl);
        input.addEventListener("blur", remcl);
    });



</script>
</body>
</html>